@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f7f7;
}

.font-lora {
  font-family: Lora, serif;
}

.font-roboto {
  font-family: Roboto, sans-serif;
}

.logo-text {
  font-family: "Titan One", serif;
}

/* Imported Colors */

.surface-bg-color {
  background-color: #fdfcff;
}

.on-container-color {
  color: #43474e;
}

/* Form Autofill */

input:-webkit-autofill {
  box-shadow: 0 0 0 50px white inset;

  /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0 50px white inset;

  /* your box-shadow */
  -webkit-text-fill-color: #333;
}

input[type="date"]:invalid::-webkit-datetime-edit {
  color: #999;
}

/* Hamburger Menu */

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
