@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffbfe;
}

.font-lora {
  font-family: Lora, serif;
}

.font-roboto {
  font-family: Roboto, sans-serif;
}

.logo-text {
  font-family: "Titan One", serif;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 50px white inset;

  /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0 50px white inset;

  /* your box-shadow */
  -webkit-text-fill-color: #333;
}

input[type="date"]:invalid::-webkit-datetime-edit {
  color: #999;
}
